<%= form_for(@user) do |f| %>
	<%= f.text_field :name %>
	<%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
<% end %>

<form action="/users">
	<input name="user[name]">
	<input name="user[password]">
	<input name="user[password_confirmation]">
</form>

@params = {
id: "1234",
user: "",
name: "",
passowrd: "",
password_confirmation: "",
}

