<!DOCTYPE>
<html>
	<head></head>
	<body>

		<div id="wrapper">
			<%= render 'shared/header' %>
			<div id="contents">
				<%= yield %>
			</div>
			<%= render 'shared/footer' %>
		</div>
</body>
</html>
