<!DOCTYPE html>
<html>
	<head>
	<meta content='text/heml; charset=UTF-8' http-enquiv='Content-Type' />
	</head>
	<body>
		<h1><%= @user.name %></h1>
		<p>
		<%= @user.login %><br>
		</p>
		<p>
		<%= @user.login %>
		</p>
	</body>
</html>

