<h1>Nchak welcome</h1>
<p><%= link_to 'login', [ :new, :user_session ]%></p>
<p><%= link_to 'registration', [ :new, :user_registration ]%></p>
<p><%= link_to 'pass', [ :new, :user_password ]%></p>
<p><%= link_to 'confirmation', [ :new, :user_confirmation ]%></p>

